﻿.mainlayoutpage {
    direction: rtl;
    background-color: dimgray;
    font-family: Tahoma,'Times New Roman',Arial;
}


.lbl {
    color: #fff;
}

/*.lblspan {
    float: right !important;
    padding: 10px;
}*/


.ddlList {
    color: #000000;
    background-color: lightgray;
    /*float: right !important;*/
    /*min-width: 200px;*/
    height: 30px;
    /*margin:2px;*/
    /*padding: 1px;*/
    border-color: brown;
    border-radius: 5px;
}

.line {
    color: #fff;
    padding-right: 20px;
    text-align: right;
}

.tbl {
    direction: rtl;
    text-align: center;
}

.txtSearch {
    padding-right: 10px;
    color: #000000;
    background-color: lightgray;
    height: 30px;
    /*width: 300px;*/
    /*margin: 2px;*/
    border-color: brown;
    border-radius: 5px;
}


.forcolor {
    color: orange; /*#fff;*/
    padding-right: 35px;
}


.rtl {
    direction: rtl;
    /*text-align: center;*/
}


.rtlpopup {
    direction: rtl;
    text-align: right;
}

.fram {
    width: 60%;
    border: 2px solid yellow;
    margin: 0 auto;
}

.hr {
    width: 90%;
}

.ddlfloatright {
    float: right;
    min-width: 180px;
}

.btnHazf {
    background-color: red;
    color: white;
    width: 100px;
}

.btnBazgasht {
    background-color: orange;
    color: white;
    width: 100px;
}

.btnRegister {
    background-color: green;
    color: white;
    width: 100px;
}


